.my-custom-class .tooltip-inner {
    background-color: #dc3545;
    font-size: 105%;
  }
  .my-custom-class .arrow::before {
    border-top-color: #dc3545;
  }

  .colordivEnc { background-color: #FD6668; height: 60px; }
.colorline { background-color: #ea4f59; height: 5px; }